<br /><br />
<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate>
      <div class="row">
        <div class="col-8">
          <label for="nombre">Nombre completo</label>
          <input type="text" class="form-control" id="nombre" aria-describedby="nombreHelp" placeholder="Escribir nombre completo..." />
        </div>
        <div class="col-4">
          <label for="telefono">Número de telefono</label>
          <input type="number" class="form-control" id="telefono" aria-describedby="telefonoHelp" placeholder="Escribir numero..." />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-6">
          <label for="nombreEstablecimiento">Nombre establecimiento</label>
          <input
            type="text"
            class="form-control"
            id="nombreEstablecimiento"
            aria-describedby="nombreEstablecimientoHelp"
            placeholder="Escribir nombre establecimiento..."
          />
        </div>
        <div class="col-3">
          <label for="departamento">Departamento</label>
          <input type="text" class="form-control" id="departamento" aria-describedby="departamentoHelp" placeholder="Departamento" />
        </div>
        <div class="col-3">
          <label for="municipio">Municipio</label>
          <input type="text" class="form-control" id="municipio" aria-describedby="municipioHelp" placeholder="Municipio" />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-3">
          <label for="nombreEstablecimiento">Tags</label>
          <input
            type="text"
            class="form-control"
            id="nombreEstablecimiento"
            aria-describedby="nombreEstablecimientoHelp"
            placeholder="Tags"
          />
        </div>
        <div class="col-3">
          <label for="departamento">Telefono de contacto</label>
          <input
            type="number"
            class="form-control"
            id="departamento"
            aria-describedby="departamentoHelp"
            placeholder="Escribir telefono de contacto..."
          />
        </div>
        <div class="col-6">
          <label for="municipio">Correo electronico</label>
          <input
            type="email"
            class="form-control"
            id="municipio"
            aria-describedby="municipioHelp"
            placeholder="Escribir correo electronico..."
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-4">
          <label for="nombreEstablecimiento">Direccion</label>
          <input
            type="text"
            class="form-control"
            id="nombreEstablecimiento"
            aria-describedby="nombreEstablecimientoHelp"
            placeholder="Escribir dirección..."
          />
        </div>
        <div class="col-3">
          <label for="departamento">Redes sociales</label>
          <input type="number" class="form-control" id="departamento" aria-describedby="departamentoHelp" placeholder="Redes sociales" />
        </div>
        <div class="col-5">
          <label for="municipio">Imagenes del establecimiento</label>
          <input type="file" class="form-control" id="municipio" aria-describedby="municipioHelp" />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-12">
          <label for="nombreEstablecimiento">Descripción</label>
          <textarea
            type="textarea"
            class="form-control"
            id="nombreEstablecimiento"
            aria-describedby="nombreEstablecimientoHelp"
            placeholder="Escribir descripción..."
          ></textarea>
        </div>
      </div>

      <br />
      <div style="float: right">
        <div>
          <button type="button" class="btn btn-outline-dark btn-lg">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</div>
