<div class="row contenedor">
  <div class="container">
    <div class="contenido-busqueda">
      <div class="col-md-12">
        <h1 class="titulo">¿Qúe hay pa' hacer?</h1>
        <form action="" method="get">
          <div class="row">
            <div class="col-md-12">
              <div class="input-group mb-3">
                <input
                  type="search"
                  class="form-control form-control-lg"
                  placeholder="Buscar destinos turisticos..."
                  aria-label="Recipient's username"
                  aria-describedby="basic-addon2"
                />
                <span class="input-group-text" id="basic-addon2"><fa-icon icon="search"></fa-icon></span>
              </div>
            </div>
          </div>
          <div class="tags">
            <a href="?agua"><span class="tags-button">Agua</span></a>
            <a href="?aire-libre"> <span class="tags-button">Aire libre</span></a>
            <a href="?cultura"><span class="tags-button">Cultura</span></a>
            <a href="?deportes"><span class="tags-button">Deportes</span></a>
            <a href="?comida"><span class="tags-button">Comida</span></a>
            <a href="?relajacion"><span class="tags-button">Relajación</span></a>
            <a href="?tecnologia"><span class="tags-button">Tecnologia</span></a>
            <a href="?monumentos"><span class="tags-button">Monumentos</span></a>
            <a href="?religioso"><span class="tags-button">Religioso</span></a>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card_image"><img src="https://i.pinimg.com/564x/fd/42/3d/fd423d83d575b6268990495eb92f9a1c.jpg" /></div>
          <div class="card_title title-white">
            <p>AGUAZUL</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card_image"><img src="https://i.pinimg.com/564x/f7/50/98/f75098e07b599845dc76949038111074.jpg" /></div>
          <div class="card_title title-white">
            <p>TAURAMENA</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card_image"><img src="https://i.pinimg.com/564x/1a/1c/c4/1a1cc49d7c989e7eb6b5760d67cf849b.jpg" /></div>
          <div class="card_title title-white">
            <p>YOPAL</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br />
