<div class="row">
  <div class="contenido-busqueda">
    <div class="col-md-12">
      <h1 class="titulo">¿Qúe hay pa' hacer?</h1>
      <form action="" method="get">
        <div class="row">
          <div class="col-md-12">
            <div class="input-group mb-3">
              <input
                type="search"
                class="form-control form-control-lg"
                placeholder="Buscar destinos turisticos..."
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
              />
              <span class="input-group-text" id="basic-addon2"><fa-icon icon="search"></fa-icon></span>
            </div>
          </div>
        </div>
        <div class="tags">
          <a href="?agua"><span class="tags-button">Agua</span></a>
          <a href="?aire-libre"> <span class="tags-button">Aire libre</span></a>
          <a href="?cultura"><span class="tags-button">Cultura</span></a>
          <a href="?deportes"><span class="tags-button">Deportes</span></a>
          <a href="?comida"><span class="tags-button">Comida</span></a>
          <a href="?relajacion"><span class="tags-button">Relajación</span></a>
          <a href="?tecnologia"><span class="tags-button">Tecnologia</span></a>
          <a href="?monumentos"><span class="tags-button">Monumentos</span></a>
          <a href="?religioso"><span class="tags-button">Religioso</span></a>
        </div>
      </form>
    </div>
  </div>
</div>
